</div>
	<footer class="footer inner_page_wr">
		<div class="block_inner" style="max-width:1130px;">
			<div class="footer_bottom">
				<div class="copy">2021 MarketHeroNFT, all rights reserved</div>
				<div class="links">
					<a href="https://markethero.gg/cabinet/">
						<span class="icon">
							<img src="files/foot_icon1.png" alt="">
						</span>
						<span class="name">Buy $MHT</span>
					</a>
					<a href="#">
						<span class="icon">
							<img src="files/foot_icon2.png" alt="">
						</span>
						<span class="name">NFT colletion</span>
					</a>
					<a href="#">
						<span class="icon">
							<img src="files/foot_icon3.png" alt="">
						</span>
						<span class="name">Пул ликвидности</span>
					</a>
				</div>
			</div>
		</div>
	</footer>
</div> 
<script src="js/jquery.mCustomScrollbar.concat.min.js" async></script>
<script src="js/main.js" async></script>
</body>
</html>