</div>
	<footer class="footer">
		<div class="block_inner">
			<div class="footer_top">
				<div class="logo">
					<img src="img/logo.svg" alt="">
				</div>
				<div class="menu_footer">
					<ul>
						<li><a href="">White Paper</a></li>
						<li><a href="">Disclaimer & Restrictions</a></li>
						<li><a href="">FAQ</a></li>
						<li><a href="">How to buy $MHT</a></li>
					</ul>
				</div>
				<div class="btn timer">
					<div class="timer__items">
						<span class="timer__item timer__days">00</span>d:<span class="timer__item timer__hours">00</span>h:<span class="timer__item timer__minutes">00</span>m:<span class="timer__item timer__seconds">00</span>s
					</div>
				</div>
			</div>
			<div class="footer_bottom">
				<div class="copy">2021 MarketHeroNFT, all rights reserved</div>
				<div class="links">
					<a href="https://markethero.gg/cabinet/">
						<span class="icon">
							<img src="files/foot_icon1.png" alt="">
						</span>
						<span class="name">Buy $MHT</span>
					</a>
					<a href="#">
						<span class="icon">
							<img src="files/foot_icon2.png" alt="">
						</span>
						<span class="name">NFT colletion</span>
					</a>
					<a href="#">
						<span class="icon">
							<img src="files/foot_icon3.png" alt="">
						</span>
						<span class="name">Пул ликвидности</span>
					</a>
				</div>
			</div>
		</div>
	</footer>
</div> 
<script src="js/main.js" async></script>
</body>
</html>