<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body>
<nav class="menu_burger">
	<div class="menuClose"><span></span></div>
	<div class="menu_scroll">
		<div class="logo">
			<a href="/">
				<img src="img/logo.svg" alt="">
			</a>
		</div>
		<div class="burger_middle">
			<div class="menu_top">
			</div> 
			<div class="btn border">connect wallet</div>
		</div>
		<div class="links">
			<a href="https://markethero.gg/cabinet/">
				<span class="icon">
					<img src="files/foot_icon1.png" alt="">
				</span>
				<span class="name">Buy $MHT</span>
			</a>
			<a href="#">
				<span class="icon">
					<img src="files/foot_icon2.png" alt="">
				</span>
				<span class="name">NFT colletion</span>
			</a>
			<a href="#">
				<span class="icon">
					<img src="files/foot_icon3.png" alt="">
				</span>
				<span class="name">Пул ликвидности</span>
			</a>
		</div>
	</div>
</nav> 
<div class="site_wrapper">
	<div class="header_line">
		<div class="block_inner">
			<div class="links">
				<a href="https://markethero.gg/cabinet/">
					<span class="icon">
						<img src="files/foot_icon1.png" alt="">
					</span>
					<span class="name">Buy $MHT</span>
				</a>
				<a href="#">
					<span class="icon">
						<img src="files/foot_icon2.png" alt="">
					</span>
					<span class="name">NFT colletion</span>
				</a>
				<a href="#">
					<span class="icon">
						<img src="files/foot_icon3.png" alt="">
					</span>
					<span class="name">Пул ликвидности</span>
				</a>
			</div>
			<div class="sos_block">
				<a href="">
					<img src="files/sos_h1.svg" alt="">
				</a>
				<a href="">
					<img src="files/sos_h2.svg" alt="">
				</a>
				<a href="">
					<img src="files/sos_h3.svg" alt="">
				</a>
				<a href="">
					<img src="files/sos_h4.svg" alt="">
				</a>
				<a href="">
					<img src="files/sos_h5.svg" alt="">
				</a>
				<a href="">
					<img src="files/sos_h6.svg" alt="">
				</a>
			</div>
		</div>
	</div>
	<header class="header">
		<div class="block_inner">
			<div class="logo">
				<a href="/">
					<img src="img/logo.svg" alt="">
				</a>
			</div>
			<div class="top_menu_header center">
				<ul>
					<li class="opened"><a href="#">О проекте</a></li>
					<li><a href="#">Игровая платформа</a></li>
					<li><a href="#">Токеномика</a></li>
					<li><a href="#">NFT</a></li>
				</ul>
			</div>
			<div class="btn login yellow">ВОЙТИ</div>
			<div class="burger"></div>
		</div>
	</header>
	<div class="header_line_inner">
		<div class="block_inner">
			<div class="top_menu_header">
				<ul class="icon_menu">
					<li class="opened">
						<a href="games.html">
							<span class="icon"><img src="files/menu_icon1.svg" alt=""></span>
							<span class="name">Игры</span>
						</a>
					</li>
					<li>
						<a href="you_heroes.html">
							<span class="icon"><img src="files/menu_icon2.png" alt=""></span>
							<span class="name">Персонажи</span>
						</a>
					</li>
					<li>
						<a href="shop_filter.html">
							<span class="icon"><img src="files/menu_icon3.png" alt=""></span>
							<span class="name">Магазин</span>
						</a>
					</li>
					<li>
						<a href="rating.html">
							<span class="icon"><img src="files/menu_icon4.svg" alt=""></span>
							<span class="name">Рейтинг</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="btn border">connect wallet</div>
		</div>
	</div>
	<div class="content_block_wr">
	