<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body>
<nav class="menu_burger">
	<div class="menuClose"><span></span></div>
	<div class="menu_scroll">
		<div class="menu_top menu_scroll_link">
		</div> 
	</div>
</nav> 
<div class="site_wrapper">
	<header class="header">
		<div class="block_inner">
			<div class="logo">
				<a href="/">
					<img src="img/logo.svg" alt="">
				</a>
			</div>
			<div class="top_menu_header menu_scroll_link">
				<ul>
					<li class="opened"><a href="#collection">collection</a></li>
					<li><a href="#launch">launch</a></li>
					<li><a href="#ino">ino</a></li>
					<li><a href="#faq">faq</a></li>
				</ul>
			</div>
			<div class="btn border">connect wallet</div>
			<div class="burger"></div>
		</div>
	</header>
	<div class="content_block_wr">
	