include _header_inner_page.jade
	<div class="nft_frontpage_page">
		<div class="block_inner">
			<span>
				<img src="files/fontpage.jpg" alt="">
			</span>
			<div class="btn_block">
				<a href="" class="btn_back">НАЗАД к играм</a>
			</div>
		</div>
	</div>
include _footer_inner_page.jade