include _header_inner_page.jade
	<div class="block_inner w1130">
		<div class="title"><span>Игры</span></div>
		<div class="mobile_icon_menu_active"></div>
		<div class="nft_links_tabs_wr">
			<ul class="nft_links_tabs">
				<li class="active">
					<a href="games.html" class="tab_link">
						<span class="icon">
							<img src="files/game_icon1.png" alt="">
						</span>
						<span class="name">Market <br> Hero <span>Run</span></span>
					</a>
				</li>
				<li>
					<a href="fight.html" class="tab_link">
						<span class="icon">
							<img src="files/game_icon2.png" alt="">
						</span>
						<span class="name">Market <br> Hero <span>fight</span></span>
					</a>
				</li>
				<li>
					<a href="racing.html" class="tab_link">
						<span class="icon">
							<img src="files/game_icon3.png" alt="">
						</span>
						<span class="name">Market <br> Hero <span>racing</span></span>
					</a>
				</li>
				<li>
					<a href="battle.html" class="tab_link">
						<span class="icon">
							<img src="files/game_icon4.png" alt="">
						</span>
						<span class="name">Market <br> Hero <span>battle</span></span>
					</a>
				</li>
				<li>
					<a href="universe.html" class="tab_link">
						<span class="icon">
							<img src="files/game_icon5.png" alt="">
						</span>
						<span class="name">Market <br> Hero <span>universe</span></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="nft_tab_body">
			<div class="left">
				<div class="nft_big_image">
					<span><img src="files/g_img1.png" alt=""></span>
				</div>
				<div class="nft_thumbs_image">
					<div class="item"><span><img src="files/g_img2.png" alt=""></span></div>
					<div class="item"><span><img src="files/g_img3.png" alt=""></span></div>
					<div class="item"><span><img src="files/g_img4.png" alt=""></span></div>
				</div>
				<a href="#" class="btn">играть</a>
			</div>
			<div class="right">
				<div class="title_name">Market Hero <span>Run</span></div>
				<div class="body">
					<p>Краткое описание игры - то ликвидный актив с динамично растущей ценой и игровые персонажи, оказывающие реальное влияние на игровой процесс и результат в аркадных играх платформы.</p>
					<p>NFT Market Hero - это ликвидный актив с динамично растущей ценой и игровые персонажи, оказывающие реальное влияние на игровой процесс и результат в аркадных играх платформы.</p>
				</div>
				<a href="#" class="btn">играть</a>
			</div>
		</div>		
	</div>
include _footer_inner_page.jade