include _header.jade
	<div class="nft_top_banner">
		<div class="block_inner">
			<div class="nft_top_banner_left">
				<div class="nft_top_banner_title">Write an offer text here</div>
				<div class="nft_top_banner_body">Join INO the unique NFT characters of the Market Hero universe and benefit from the IDO stage!</div>
				<div class="btn">join ino</div>
			</div>
			<div class="nft_top_banner_right">
				<div class="nft_slider">
					<div class="item"><img src="files/head_nth.png" alt=""></div>	
					<div class="item"><img src="files/head_nth2.jpg" alt=""></div>	
					<div class="item"><img src="files/head_nth3.png" alt=""></div>	
					<div class="item"><img src="files/head_nth4.png" alt=""></div>	
				</div>				
			</div>
		</div>
	</div>
	<div class="nft_about"  id="collection">
		<div class="block_inner">
			<div class="nft_about_title"><span>About Collections</span></div>
			<div class="nft_about_inner">
				<div class="nft_about_left">
					<div class="nft_about_left_name">Market Heroes Collections</div>
					<div class="nft_about_left_body">The Market Hero collection is a usable NFT with the option to upgrade and develop the card. Improve your character's characteristics, gain advantages in games, and increase the value of your card.</div>
				</div>
				<div class="nft_about_right">
					<span>
						<img src="files/logo_about.png" alt="">
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="nft_products_block">
		<div class="block_inner">
			<div class="nft_product">
				<div class="image">
					<img src="files/n_product.png" alt="">
				</div>
				<div class="name">BEAR</div>
				<div class="text">A short-run master, deprived of optimism and harsh</div>
				<div class="price">
					<span><span>Quantity</span></span>
					<strong>500</strong>
				</div>
			</div>
			<div class="nft_product">
				<div class="image">
					<img src="files/n_product2.png" alt="">
				</div>
				<div class="name">BULL</div>
				<div class="text">Aggressive professional who has made his capital in a growing market</div>
				<div class="price">
					<span><span>Quantity</span></span>
					<strong>500</strong>
				</div>
			</div>
			<div class="nft_product">
				<div class="image">
					<img src="files/n_product3.png" alt="">
				</div>
				<div class="name">WHALE</div>
				<div class="text">The bigwig of the market, feels equally confident during periods of growth and fall</div>
				<div class="price">
					<span><span>Quantity</span></span>
					<strong>500</strong>
				</div>
			</div>
		</div>
	</div>
	<div class="nft_about_launch" id="launch">
		<div class="nft_about_launch_main">
			<div class="block_inner">
				<div class="nft_about_launch_title"><span>About Launch</span></div>
				<div class="nft_about_launch_inner">
					<div class="nft_about_launch_item">
						<div class="date">28.04.2022</div>
						<div class="text">Minting Began</div>
					</div>
					<div class="nft_about_launch_item">
						<div class="date">1111</div>
						<div class="text">Total Mints</div>
					</div>
					<div class="nft_about_launch_item">
						<div class="date">From $150 to $300</div>
						<div class="text">Price per Mint</div>
					</div>
				</div>
				<div class="nft_share">
					<div class="share_icon">
						<div class="cloude">
							<img src="files/cloude.svg" alt="">
						</div>
						<img src="files/n_product4.png" alt="text">
					</div>
					<div class="share_links">
						<a href="https://t.me/marketheronft" target="_blank">
							<img src="files/share1.svg" alt="">
						</a>
						<a href="https://www.instagram.com/marketheronft/" target="_blank">
							<img src="files/share3.svg" alt="">
						</a>
						<a href="https://medium.com/@market.hero.nft" target="_blank">
							<img src="files/share4.svg" alt="">
						</a>
						<a href="https://twitter.com/marketheronft" target="_blank">
							<img src="files/share5.svg" alt="">
						</a>
						<a href="#" target="_blank">
							<img src="files/share6.svg" alt="">
						</a>
						<a href="https://discord.com/invite/FSTEDJVkh5" target="_blank">
							<img src="files/share7.svg" alt="">
						</a>
					</div>
				</div>			
			</div>
		</div>
	</div>
	<div class="nft_keys">
		<div class="block_inner">
			<div class="nft_keys_title"><span>Key Features</span></div>
			<div class="nft_keys_inner">
				<div class="nft_keys_item">
					<div class="image">
						<img src="files/key1.png" alt="">
					</div>
					<div class="name">upgrade</div>
					<div class="text">The Market Hero NFT Upgradeable Smart Contract allows developers to add new character properties. Upgrade character properties, gain in-game advantages, and increase the value of your cards.</div>
				</div>
				<div class="nft_keys_item">
					<div class="image">
						<img src="files/key2.png" alt="">
					</div>
					<div class="name">unique</div>
					<div class="text">The unique visual appearance of the game characters from the Market Hero NFT collection will allow you to stand out and become recognized among the many other players of the universe!</div>
				</div>
				<div class="nft_keys_item">
					<div class="image">
						<img src="files/key3.png" alt="">
					</div>
					<div class="name">liqudity</div>
					<div class="text">Unique pumped cards of the Market Hero collection are liquid NFT, demanded among the players of the universe</div>
				</div>
			</div>
		</div>
	</div>
	<div class="nft_ino" id="ino">
		<div class="block_inner">
			<div class="nft_ino_title"><span>INO</span></div>
			<div class="nft_ino_inner">
				<div class="text">Become a unique Market Hero NFT holder during the INO phase and get a real advantage over other IDO participants! Higher chances and more allocations on one of the presented platforms await you!</div>
				<div class="image">
					<img src="files/ino.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="nft_faq" id="faq">
		<div class="block_inner">
			<div class="nft_ino_title"><span>FAQ</span></div>
			<div class="nft_faq_inner">
				<div class="nft_faq_accor opened">
					<div class="nft_faq_name">How many Market Hero NFTs are there?</div>
					<div class="nft_faq_body">We will mint 1111 cards at the INO stage.</div>
				</div>
				<div class="nft_faq_accor">
					<div class="nft_faq_name">When is Mint?</div>
					<div class="nft_faq_body">INO date to be announced soon</div>
				</div>
				<div class="nft_faq_accor">
					<div class="nft_faq_name">No utility at launch?</div>
					<div class="nft_faq_body">NFTs from the INO phase allow you to get great benefits during the IDO. Also, they can be used as playable characters on the Market Hero platform.</div>
				</div>
				<div class="nft_faq_accor">
					<div class="nft_faq_name">Where will Market Hero NFTs be listed after the mint?</div>
					<div class="nft_faq_body">Marketplace will be selected soon</div>
				</div>
			</div>
		</div>
	</div>
include _footer.jade