include _header_inner_page.jade
	<div class="block_inner">
		<div class="title"><span>Top players</span></div>
		<div class="nft_prise_block">
			<div class="prise_item">
				<div class="image">
					<img src="files/pr1.png" alt="">
				</div>
				<div class="right_p">
					<div class="cub"><img src="files/cub.png" alt=""></div>
					<div class="name">illinarium</div>
					<div class="code">0x7B77a6...4958C</div>
				</div>
			</div>
			<div class="prise_item">
				<div class="image">
					<img src="files/pr2.png" alt="">
				</div>
				<div class="right_p">
					<div class="cub"><img src="files/cub2.png" alt=""></div>
					<div class="name">Bapper_Bird</div>
					<div class="code">0x7B77a6...4958C</div>
				</div>
			</div>
			<div class="prise_item">
				<div class="image">
					<img src="files/pr3.png" alt="">
				</div>
				<div class="right_p">
					<div class="cub"><img src="files/cub3.png" alt=""></div>
					<div class="name">KhalilormousP</div>
					<div class="code">0x7B77a6...4958C</div>
				</div>
			</div>
		</div>
		<div class="nft_table_wr">
			<div id="content_table_main">
				<div id="content_table">
					<table>
						<thead>
							<tr>
								<th>place</th>
								<th>nickname</th>
								<th>wallet</th>
								<th>score</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>illinarium</td>
								<td>0x7B77a60B3F9df2B6B293428Ce75bC1D2E6C4958C</td>
								<td>58750</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Bapper_Bird</td>
								<td>0x7B77a60B3F9df2B6B293428Ce75bC1D2E6C4958C</td>
								<td>17449</td>
							</tr>
							<tr>
								<td>3</td>
								<td>KhalilormousP</td>
								<td>0x7B77a60B3F9df2B6B293428Ce75bC1D2E6C4958C</td>
								<td>748</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Bundy_Burundi</td>
								<td>0x7B77a60B3F9df2B6B293428Ce75bC1D2E6C4958C</td>
								<td>748</td>
							</tr>
							<tr>
								<td>5</td>
								<td>GreenDean</td>
								<td>0x7B77a60B3F9df2B6B293428Ce75bC1D2E6C4958C</td>
								<td>748</td>
							</tr>
							<tr>
								<td>6</td>
								<td>Big_Rig</td>
								<td>0x7B77a60B3F9df2B6B293428Ce75bC1D2E6C4958C</td>
								<td>748</td>
							</tr>
							<tr>
								<td>7</td>
								<td>AitchEeAreAreEeAreAy</td>
								<td>0x7B77a60B3F9df2B6B293428Ce75bC1D2E6C4958C</td>
								<td>748</td>
							</tr>
							<tr>
								<td>8</td>
								<td>illinarium</td>
								<td>0x7B77a60B3F9df2B6B293428Ce75bC1D2E6C4958C</td>
								<td>748</td>
							</tr>
							<tr>
								<td>9</td>
								<td>illinarium</td>
								<td>0x7B77a60B3F9df2B6B293428Ce75bC1D2E6C4958C</td>
								<td>748</td>
							</tr>
							<tr>
								<td>10</td>
								<td>illinarium</td>
								<td>0x7B77a60B3F9df2B6B293428Ce75bC1D2E6C4958C</td>
								<td>748</td>
							</tr>
							<tr>
								<td>11</td>
								<td>illinarium</td>
								<td>0x7B77a60B3F9df2B6B293428Ce75bC1D2E6C4958C</td>
								<td>748</td>
							</tr>
						</tbody>
					</table>			
				</div>	
				<div class="table_my">
					<table>
						<tbody>
							<tr>
								<td>347</td>
								<td>you</td>
								<td>0x7B77a60B3F9df2B6B293428Ce75bC1D2E6C4958C</td>
								<td>32</td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>	
		</div>
	</div>
include _footer_inner_page.jade