include _header_inner_page.jade
	<div class="block_inner">
		<div class="title"><span>Бестселлер</span></div>
		<div class="nft_shop_top">
			<div class="image_left">
				<span><img src="files/mrw.jpg" alt=""></span>
			</div>
			<div class="main_right">
				<div class="name_main"><span>Mr.</span> Whaley Markt</div>
				<div class="text">Краткое описание игры - Воротила рынка, одинаково уверенно чувствует себя в периоды роста и падения <br>то ликвидный актив с динамично растущей ценой и игровые персонажи, оказывающие реальное влияние на игровой процесс и результат в аркадных играх платформы.</div>
				<div class="amount_price">
					<div class="item_a">
						<div class="name">кОЛЛИЧЕСТВО:</div>
						<div class="val">5000</div>
					</div>
					<div class="item_a">
						<div class="name">СТОИМОСТЬ:</div>
						<div class="val">$150</div>
					</div>
				</div>
				<div class="btn mint blue">MINT</div>
			</div>  
		</div> 
		<div class="title"><span>Топ НФТ</span></div>
		<div class="nft_products_page">
			<div class="nft_product">
				<div class="image">
					<div class="label">top nft</div>
					<img src="files/hero1.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="text">
					<ul>
						<li>
							<span>Скорость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Иммунитет к преградам:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Выносливость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Устойчивость:</span>
							<strong>1</strong>
						</li>
					</ul>
				</div>
				<a href="shop.html" class="btn blue">MINT</a>
			</div>
			<div class="nft_product">
				<div class="image">
					<div class="label">top nft</div>
					<img src="files/hero2.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="text">
					<ul>
						<li>
							<span>Скорость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Иммунитет к преградам:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Выносливость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Устойчивость:</span>
							<strong>1</strong>
						</li>
					</ul>
				</div>
				<a href="shop.html" class="btn blue">MINT</a>
			</div>
			<div class="nft_product">
				<div class="image">
					<div class="label">top nft</div>
					<img src="files/hero3.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="text">
					<ul>
						<li>
							<span>Скорость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Иммунитет к преградам:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Выносливость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Устойчивость:</span>
							<strong>1</strong>
						</li>
					</ul>
				</div>
				<a href="shop.html" class="btn blue">MINT</a>
			</div>
			<div class="nft_product">
				<div class="image">
					<div class="label">top nft</div>
					<img src="files/hero4.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="text">
					<ul>
						<li>
							<span>Скорость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Иммунитет к преградам:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Выносливость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Устойчивость:</span>
							<strong>1</strong>
						</li>
					</ul>
				</div>
				<a href="shop.html" class="btn blue">MINT</a>
			</div>
			<div class="nft_product">
				<div class="image">
					<div class="label">top nft</div>
					<img src="files/hero1.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="text">
					<ul>
						<li>
							<span>Скорость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Иммунитет к преградам:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Выносливость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Устойчивость:</span>
							<strong>1</strong>
						</li>
					</ul>
				</div>
				<a href="shop.html" class="btn blue">MINT</a>
			</div>
			<div class="nft_product">
				<div class="image">
					<div class="label">top nft</div>
					<img src="files/hero2.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="text">
					<ul>
						<li>
							<span>Скорость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Иммунитет к преградам:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Выносливость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Устойчивость:</span>
							<strong>1</strong>
						</li>
					</ul>
				</div>
				<a href="shop.html" class="btn blue">MINT</a>
			</div>
			<div class="nft_product">
				<div class="image">
					<div class="label">top nft</div>
					<img src="files/hero3.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="text">
					<ul>
						<li>
							<span>Скорость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Иммунитет к преградам:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Выносливость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Устойчивость:</span>
							<strong>1</strong>
						</li>
					</ul>
				</div>
				<a href="shop.html" class="btn blue">MINT</a>
			</div>
			<div class="nft_product">
				<div class="image">
					<div class="label">top nft</div>
					<img src="files/hero4.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="text">
					<ul>
						<li>
							<span>Скорость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Иммунитет к преградам:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Выносливость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Устойчивость:</span>
							<strong>1</strong>
						</li>
					</ul>
				</div>
				<a href="shop.html" class="btn blue">MINT</a>
			</div>
		</div>
		<div class="page_list">
			<a href="#" class="arrow prev"></a>
			<div class="number">1</div>
			<a href="#" class="number">2</a>
			<a href="#" class="number">3</a>
			<a href="#" class="number">4</a>
			<a href="#" class="arrow next"></a>
		</div>
		<div class="btn border all_more">СМОТРЕТЬ ЕЩЕ</div>
		<div class="title nft_collections_title"><span>Коллекции</span></div>
		<div class="nft_collections">
			<div class="item">
				<div class="image">
					<img src="files/collec1.png" alt="">
				</div>
				<div class="name">Хомяк</div>
				<div class="text">Новичок на рынке, полный энтузиазма и жажды профита!</div>
				<a href="#" class="btn border_white">смотреть</a>
			</div>
			<div class="item">
				<div class="image">
					<img src="files/collec2.png" alt="">
				</div>
				<div class="name">Медведь</div>
				<div class="text">Мастер игры на понижение, лишенный оптимизма и суровый</div>
				<a href="#" class="btn border_white">смотреть</a>
			</div>
			<div class="item">
				<div class="image">
					<img src="files/collec3.png" alt="">
				</div>
				<div class="name">Бык</div>
				<div class="text">Агрессивный профессионал, сделавший свой капитал на растущем рынке</div>
				<a href="#" class="btn border_white">смотреть</a>
			</div>
			<div class="item">
				<div class="image">
					<img src="files/collec4.png" alt="">
				</div>
				<div class="name">Кит</div>
				<div class="text">Воротила рынка, одинаково уверенно чувствует себя в периоды роста и падения</div>
				<a href="#" class="btn border_white">смотреть</a>
			</div>
		</div>
	</div>
include _footer_inner_page.jade