include _header_inner_page.jade
	<div class="block_inner">
		<div class="title"><span>Коллекции</span></div>
		<div class="mobile_icon_categor_active"></div>
		<div class="nft_links_categor_wr">
			<ul class="nft_links_categor">
				<li class="active">
					<a href="" class="tab_link">
						<span class="icon">
							<img src="files/game_icon1.png" alt="">
						</span>
						<span class="name">коллекция 1</span>
					</a>
				</li>
				<li>
					<a href="" class="tab_link">
						<span class="icon">
							<img src="files/game_icon2.png" alt="">
						</span>
						<span class="name">коллекция 2</span>
					</a>
				</li>
				<li>
					<a href="" class="tab_link">
						<span class="icon">
							<img src="files/game_icon3.png" alt="">
						</span>
						<span class="name">коллекция 3</span>
					</a>
				</li>
				<li>
					<a href="" class="tab_link">
						<span class="icon">
							<img src="files/game_icon4.png" alt="">
						</span>
						<span class="name">коллекция 4</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="filter_shop">
			<div class="filter_name">Фильтр:</div>
			<div class="filter_link">
				<a href="" class="active">Персонажи</a>
				<a href="">Оружие</a>
				<a href="">Транспорт</a>
				<a href="">Ящики</a>
			</div>
			<div class="filter_select">
				<div class="btn border_yellow">хомяки <div class="arrow"></div></div>
				<ul class="select_list">
					<li>хомяки 1</li>
					<li>хомяки 2</li>
					<li>хомяки 3</li>
					<li>хомяки 4</li>
				</ul>
			</div>
		</div>
		<div class="nft_products_page">
			<div class="nft_product">
				<div class="image">
					<img src="files/hero1.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="param_i">
					<div><span>Редость</span><strong>3%</strong></div>
				</div>
				<div class="price_ef">
					<span>0.03 ETH</span>
				</div>
				<a class="btn blue" href="shop.html">MINT</a>
			</div>
			<div class="nft_product">
				<div class="image">
					<img src="files/hero2.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="param_i">
					<div><span>Редость</span><strong>3%</strong></div>
				</div>
				<div class="price_ef">
					<span>0.03 ETH</span>
				</div>
				<a class="btn blue" href="shop.html">MINT</a>
			</div>
			<div class="nft_product">
				<div class="image">
					<img src="files/hero3.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="param_i">
					<div><span>Редость</span><strong>3%</strong></div>
				</div>
				<div class="price_ef">
					<span>0.03 ETH</span>
				</div>
				<a class="btn blue" href="shop.html">MINT</a>
			</div>
			<div class="nft_product">
				<div class="image">
					<img src="files/hero4.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="param_i">
					<div><span>Редость</span><strong>3%</strong></div>
				</div>
				<div class="price_ef">
					<span>0.03 ETH</span>
				</div>
				<a class="btn blue" href="shop.html">MINT</a>
			</div>
			<div class="nft_product">
				<div class="image">
					<img src="files/hero1.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="param_i">
					<div><span>Редость</span><strong>3%</strong></div>
				</div>
				<div class="price_ef">
					<span>0.03 ETH</span>
				</div>
				<a class="btn blue" href="shop.html">MINT</a>
			</div>
			<div class="nft_product">
				<div class="image">
					<img src="files/hero2.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="param_i">
					<div><span>Редость</span><strong>3%</strong></div>
				</div>
				<div class="price_ef">
					<span>0.03 ETH</span>
				</div>
				<a class="btn blue" href="shop.html">MINT</a>
			</div>
			<div class="nft_product">
				<div class="image">
					<img src="files/hero3.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="param_i">
					<div><span>Редость</span><strong>3%</strong></div>
				</div>
				<div class="price_ef">
					<span>0.03 ETH</span>
				</div>
				<a class="btn blue" href="shop.html">MINT</a>
			</div>
			<div class="nft_product">
				<div class="image">
					<img src="files/hero4.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="param_i">
					<div><span>Редость</span><strong>3%</strong></div>
				</div>
				<div class="price_ef">
					<span>0.03 ETH</span>
				</div>
				<a class="btn blue" href="shop.html">MINT</a>
			</div>
		</div>
		<div class="page_list">
			<a href="#" class="arrow prev"></a>
			<div class="number">1</div>
			<a href="#" class="number">2</a>
			<a href="#" class="number">3</a>
			<a href="#" class="number">4</a>
			<a href="#" class="arrow next"></a>
		</div>
		<div class="btn border all_more">СМОТРЕТЬ ЕЩЕ</div>
	</div>
include _footer_inner_page.jade