include _header_inner_page.jade
	<div class="block_inner">
		<div class="title"><span>Ваши герои</span></div>
		<div class="nft_products_page">
			<div class="nft_product">
				<div class="image">
					<img src="files/hero1.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="text">
					<ul>
						<li>
							<span>Скорость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Иммунитет к преградам:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Выносливость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Устойчивость:</span>
							<strong>1</strong>
						</li>
					</ul>
				</div>
				<div class="btn upgrade yellow">upgrade</div>
			</div>
			<div class="nft_product">
				<div class="image">
					<img src="files/hero2.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="text">
					<ul>
						<li>
							<span>Скорость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Иммунитет к преградам:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Выносливость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Устойчивость:</span>
							<strong>1</strong>
						</li>
					</ul>
				</div>
				<div class="btn upgrade yellow">upgrade</div>
			</div>
			<div class="nft_product">
				<div class="image">
					<img src="files/hero3.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="text">
					<ul>
						<li>
							<span>Скорость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Иммунитет к преградам:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Выносливость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Устойчивость:</span>
							<strong>1</strong>
						</li>
					</ul>
				</div>
				<div class="btn upgrade yellow">upgrade</div>
			</div>
			<div class="nft_product">
				<div class="image">
					<img src="files/hero4.png" alt="">
				</div>
				<div class="name">HAMSTY #3421</div>
				<div class="text">
					<ul>
						<li>
							<span>Скорость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Иммунитет к преградам:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Выносливость:</span>
							<strong>1</strong>
						</li>
						<li>
							<span>Устойчивость:</span>
							<strong>1</strong>
						</li>
					</ul>
				</div>
				<div class="btn upgrade yellow">upgrade</div>
			</div>
		</div>
		<div class="page_list">
			<a href="#" class="arrow prev"></a>
			<div class="number">1</div>
			<a href="#" class="number">2</a>
			<a href="#" class="number">3</a>
			<a href="#" class="number">4</a>
			<a href="#" class="arrow next"></a>
		</div>
		<div class="btn border all_more">СМОТРЕТЬ ЕЩЕ</div>
	</div>
	<div class="nft_line_block">
		<div class="block_inner">
			<div class="name">Get your new Market Hero!</div>
			<a href="#" class="btn">shop</a>
		</div>
	</div>
	<div class="nft_popup_wr">
		<div class="nft_popup_inner">
			<div class="popup_close"></div>
			<div class="nft_popup_inner_main">
				<div class="popup_image">
					<span><img src="files/hero4.png" alt=""></span>
				</div>
				<div class="popup_params">
					<div class="name">HAMSTY #3421</div>
					<ul>
						<li>
							<div class="param_name">Скорость:</div>
							<div class="param_amount">
								<input type="submit" class="minus">
								<input type="text" value="1" class="quantity">
								<input type="submit" class="plus">
							</div>
						</li>
						<li>
							<div class="param_name">Иммунитет к преградам:</div>
							<div class="param_amount">
								<input type="submit" class="minus">
								<input type="text" value="1" class="quantity">
								<input type="submit" class="plus">
							</div>
						</li>
						<li>
							<div class="param_name">Выносливость:</div>
							<div class="param_amount">
								<input type="submit" class="minus">
								<input type="text" value="1" class="quantity">
								<input type="submit" class="plus">
							</div>
						</li>
						<li>
							<div class="param_name">Устойчивость:</div>
							<div class="param_amount">
								<input type="submit" class="minus">
								<input type="text" value="1" class="quantity">
								<input type="submit" class="plus">
							</div>
						</li>
					</ul>
					<div class="total_sum">
						<div class="name_sum">upgrade Cost</div>
						<div class="summ">150 MHT</div>
					</div>
					<div class="btn_popup">
						<div class="btn yellow">upgrade</div>
					</div>
				</div>
			</div>
		</div>
	</div>
include _footer_inner_page.jade